@media (max-width: 1024px) {

  /* header */

  .header-container {
    padding: 0 15px 0 15px;
  }

  .menu-link {
    font-size: 38px;
  }

  .menu-link-menu {
    margin: 0 15px 0 0;
  }

  .menu-link-burger-btn {
    margin: 0 50px 0 0;
  }

  .header-form-input {
    width: 100%;
  }

  .header-menu-link {
    margin: 0;
  }

  /* main */

  .main-container {
    padding: 25px;
  }

  .card-box:not(:last-child) {
    margin: 0 25px 0 0;
  }

  .card-box:nth-child(2) > .card-item {
    margin: 0;
  }

  .card-item {
    margin: 0 0 25px 0;
  }

  .card-item-text-box-title {
    font-size: 38px;
  }

  /* ABOUT Page */

  .about-item:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .about-item-describe-img {
    align-items: center;
    justify-content: end;
    flex-direction: column;
  }

  .about-item-describe-link:not(:last-child) {
    margin: 0 0 10px 0;
  }

  /* COURSES Page */
  .courses {
    padding: 0 0 70px 0;
  }

  .courses-item {
    max-width: 450px;
  }

  /* ARCHITECT Page */

  .architect {
    margin: 0 0 70px 0;
  }

  .architect-card-item {
    max-width: 400px;
  }

  .architect-card-item-title {
    font-size: 50px;
  }

  .architect-card-text {
    font-size: 30px;
  }

  .architect-card-link {
    max-width: 400px;
    font-size: 33px;
  }

  /* footer */

  .footer-item-text {
    font-size: 38px;
  }

  .footer-item-link > span {
    display: none;
  }
}







@media (max-width: 480px) {

  /* header */

  .header-container {
    padding: 0 0 0 5px;
    align-items: flex-start;
    height: 120px;
  }

  .header-menu {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .menu-link-entrance {
    display: none;
  }

  .menu-link-menu {
    margin: 0 0 15px 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .menu-link-title {
    margin: 0 0 25px 0;
  }

  .menu-link-burger-btn {
    margin: 0;
  }

  .header-logo {
    display: none;
  }

  .header-form {
    background-color: #FFFFFF;
  }

  .header-form-input {
    width: 160px;
    height: 73px;
  }

  .header-form-input-btn {
    width: 63px;
    height: 67px;
  }

  .header-form-input-btn::before {
    top: 5px;
    right: 3px;
    width: 57px;
    height: 57px;
  }

  .header-menu-link {
    max-width: 250px;
  }


  /* main */


  .main-container {
    padding: 20px 20px 87px 20px;
  }

  .card-list {
    flex-direction: column;
  }

  .card-item {
    margin: 0 0 20px 0;
  }

  .card-box:not(:last-child) {
    margin: 0;
  }

  .card-box:nth-child(2) > .card-item {
    margin-top: 0;
  }

  .card-item-text-box-title {
    margin: 0 0 20px 0;
  }

  /* ABOUT Page */

  .about {
    padding: 0 0 25px 0;
  }

  .about-list {
    flex-direction: column;
  }

  .about-item:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .about-item-text {
    font-size: 24px;
  }

  .about-item-describe {
    font-size: 24px;
  }

  .about-item-definition-title {
    font-size: 24px;
  }

  .about-stat-item {
    padding: 20px 10px;
  }

  .about-stat-item-count {
    font-size: 40px;
  }

  .about-stat-item-text {
    font-size: 20px;
  }

  /* COURSES Page */

  .courses {
    padding: 0;
  }

  .courses-item:nth-last-child(-n+3) {
    margin: 0 0 40px 0;
  }

  /* ENTRANSE Page */

  .entranse-title {
    margin: 0 0 32px 0;
    font-size: 36px;
  }

  .entranse-input {
    margin: 0 0 25px 0;
    padding: 15px 20px;
    font-size: 24px;
  }

  .entranse-input:last-child {
    margin: 0 0 14px 0;
  }

  .entranse-input::placeholder {
    font-size: 24px;
  }

  .entranse-link-password {
    font-size: 24px;
  }

  .entranse-link  {
    padding: 10px 10px;
    font-size: 30px;
  }

  /* REGISTER Page */

  .register-box {
    padding: 30px;
  }

  .register-title {
    font-size: 36px;
  }

  .register-input {
    padding: 12px 17px;
    font-size: 16px;
  }

  .register-input::placeholder {
    font-size: 16px;
  }

  .register-input:nth-child(6) {
    margin: 0 0 30px 0;
  }

  .register-btn {
    padding: 20px 70px;
    font-size: 24px;
  }

  /* ARCHITECT Page */

  .architect-card {
    padding: 14px;
    justify-content: center;
  }

  .architect-card-item {
    align-items: center;
    justify-content: center;
  }

  .architect-card-item-title {
    margin: 0 0 25px 0;
    font-size: 40px;
  }

  .architect-card-text {
    margin: 0 0 12px 0;
    font-size: 20px;
  }

  .architect-card-item-img {
    margin: 0 0 12px 0;
  }

  .architect-card-link {
    padding: 25px 50px;
    max-width: 290px;
    border-radius: 36px;
    font-size: 22px;
  }



  /* Burger menu */

  .burger-item-link {
    font-size: 32px;
  }


  /* footer */

  .footer-container {
    padding: 0 15px;
  }
  
  .footer-item-link {
    margin: 0 10px 0 0;
  }

  .footer-item-link:nth-child(3) {
    display: none;
  }

  .footer-item-text {
    font-size: 38px;
    text-align: center;
  }

  .footer-item-link-img {
    margin: 0;
  }

  .footer-item-link-img-ph {
    width: 36px;
    height: 38px;
  }

  .footer-item-link-img-ml {
    width: 36px;
    height: 26px;
  }
}