
@font-face {
  font-family: 'Lobster';
  src: local('LobsterRegular'), local('Lobster-Regular'),
    url('../fonts/lobster-regular.woff2') format('woff2'),
    url('../fonts/lobster-regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* common styles */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}


/* header */

.header {
  width: 100%;
}

.header-container {
  margin: 0;
  padding: 0 15px 0 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  border: 8px solid #000000;
  background-color: #D9D9D9;
}

.menu-link {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: black;
}

.header-menu {
  display: flex;
  align-items: center;
}

.menu-link-menu {
  margin: 0 160px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-link-title {
  margin: 0 25px 0 0;
}

.menu-link-burger-btn {
  position: relative;
  margin: 0 30px 0 0;
  display: flex;
  width: 102px;
  height: 11px;
  border-radius: 10px;
  background-color: #000000;
}

.menu-link-burger-btn::after {
  content: '';
  position: absolute;
  bottom: 17px;
  display: flex;
  width: 132px;
  height: 11px;
  border-radius: 10px;
  background-color: #000000;
}

.menu-link-burger-btn::before {
  content: '';
  position: absolute;
  top: 17px;
  display: flex;
  width: 62px;
  height: 11px;
  border-radius: 10px;
  background-color: #000000;
}

.header-logo {
  width: 103px;
  height: 89px;
}

.header-logo-img {
  width: 103px;
  height: 89px;
}

.header-form {
  display: flex;
  align-items: center;
}

.header-form-input {
  margin: 0;
  padding: 30px 0 0 6px; 
  width: 671px;
  height: 73px;
  border: none;
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  font-weight: 400;
  outline: none;
}

.header-form-input::placeholder {
  display: block;
  color: #000000;
}

.header-form-input-btn {
  position: relative;
  margin: 0;
  padding: 0;
  width: 82px;
  height: 73px;
  border: none;
  background-color: #6680C3;
  cursor: pointer;
}

.header-form-input-btn::before {
  content: '';
  position: absolute;
  top: 6px;
  right: 6px;
  width: 60px;
  height: 60px;
  background-image: url("../img/search-icon.png");
}

.header-menu-link {
  margin: 0 150px 0 0;
}


/* main */

.main-container {
  margin: 0;
  padding: 28px 81px 71px 81px;
}

.card-list {
  display: flex;
  justify-content: space-around;
}

.card-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card-box:nth-child(2) > .card-item {
  margin-top: 150px;
  max-width: 478px;
  border-radius: 0;
  background-color: #FFFFFF;
}

  .card-box:nth-child(3) > .card-item:first-child > a > .card-item-text {
    max-width: 220px;
  }

.card-item {
  margin: 0 0 37px 0;
  width: 100%;
  max-width: 486px;
  border-radius: 80px;
  background-color: #D9D9D9;
}

.card-item > a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-item-text {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 91px;
  max-width: 100%;
}

.card-item-text-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}

.card-box:last-child > .card-item > .card-item-text > .card-item-text-title {
  max-width: 230px;
}

.card-item-text-box-title {
  margin: 15px 0 15px 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}

.card-item-text-box-title:nth-child(2) {
  text-align: left;
}

.card-text-title-icon {
  width: 100px;
  height: 100px;
}

.card-img {
  width: 100%;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}


/* ABOUT Page */

.about {
  padding: 0 0 50px 0;
}

.about-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-item {
  width: 100%;
  max-width: 497px;
}

.about-item:first-child {
  max-width: 460px;
}

.about-item:nth-child(2) {
  max-width: 486px;
}

.about-item-text {
  margin: 0;
  font-size: 40px;
  text-align: center;
}

.about-item-text-title {
  display: block;
}

.about-item-describe {
  margin: 0 0 10px 0;
  display: block;
  font-size: 36px;
  text-align: center;
}

.about-item-describe-img {
  margin: 0;
  padding: 10px 30px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 324px;
  background-image: url("../img/about-img.png");
}

.about-item-describe-link {
  padding: 8px 8px;
  font-size: 20px;
  border-radius: 50px;
  color: #000000;
  background-color: #D9D9D9;
}

.about-item-definition-title {
  margin: 0 0 20px 0;
  display: block;
  text-align: center;
  font-size: 40px;
}

.about-stat-item {
  margin: 0;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #D9D9D9;
}

.about-stat-item:not(:last-child) {
  margin: 0 0 20px 0;
}

.about-stat-item-count {
  margin: 0 0 10px 0;
  font-size: 64px;
}

.about-stat-item-text {
  font-size: 32px;
}

.about-item-addres {
  font-size: 20px;
}

/* COURSES Page */

.courses {
  padding: 0 0 40px 0;
}

.courses-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courses-item {
  margin: 0 0 40px 0;
  border-radius: 80px;
  width: 100%;
  max-width: 486px;
  background-color: #D9D9D9;
  overflow: hidden;
}

.courses-item > a {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #000000;
}

.courses-item:nth-last-child(-n+3) {
  margin: 0;
}

.courses-item-title {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91px;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.courses-item-img {
  width: 100%;
}

/* Burger menu */

.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 100px 30px 30px 30px;
  width: 100%;
  max-width: 550px;
  height: 100vh;
  background-color: #D9D9D9;
}

.burger-item:not(:last-child) {
  margin: 0 0 25px 0;
}

.burger-item-link {
  color: #000000;
}

.burger-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
}

.burger-menu-btn::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  border-radius: 50px;
  width: 45px;
  height: 5px;
  background-color: #000000;
  transform: rotate(45deg);
}

.burger-menu-btn::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  border-radius: 50px;
  width: 45px;
  height: 5px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.burger-menu-active {
  display: block;
}

/* ENTRACE Page */

.entranse {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance-box {
  margin: 0;
  padding: 30px;
  max-width: 572px;
  border-radius: 50px;
  background-color: #D9D9D9;
}

.entranse-title {
  margin: 0 0 60px 0;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}

.entranse-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.entranse-input {
  margin: 0 0 30px 0;
  padding: 20px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 25px;
  font-size: 32px;
}

.entranse-input::placeholder {
  font-size: 32px;
  color: #000000;
}

.entranse-link-password {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 32px;
  text-decoration: underline;
}

.entranse-link {
  padding: 18px 10px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 25px;
  font-weight: 400;
  font-size: 40px;
  text-align: left;
  background-color: #6680C3;
}

.entranse-link:not(:last-child) {
  margin: 0 0 18px 0;
}

/* REGISTER Page */

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-box {
  margin: 0;
  padding: 20px 58px 54px 58px;
  width: 100%;
  max-width: 572px;
  border-radius: 50px;
  background-color: #D9D9D9;
}

.register-title {
  margin: 0 0 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}

.register-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.register-input {
  margin: 0 0 10px 0;
  padding: 5px 17px;
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  border: 1px solid #000000;
  border-radius: 25px;
}

.register-input::placeholder {
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}

.register-btn {
  padding: 20px 20px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 25px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  background-color: #6680C3;
}

/* ARCHITECT Page */

.architect-card {
  margin: 0;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #D9D9D9;
}

.architect-card-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 760px;
}

.architect-card-item-title {
  margin: 0 0 50px 0;
  padding: 0;
  font-weight: 400;
  font-size: 96px;
}

.architect-card-text {
  margin: 0 0 50px 0;
  padding: 0;
  font-weight: 400;
  font-size: 40px;
}

.architect-card-link {
  margin: 0;
  padding: 25px 60px;
  display: block;
  width: 100%;
  max-width: 527px;
  border-radius: 36px;
  background-color: #6680C3;
}

.architect-card-item-img {
  width: 100%;
  border-radius: 10px;
}

/* LEARN Page */

.learn-box-list {
  margin: 0 0 68px 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.learn-box-item {
  margin: 0 22px 0 0;
}

.learn-box-item:nth-child(2) {
  margin: 0 440px 0 0;
}

.learn-box-item-title {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 44px;
}

.learn-box-item-title > span {
  display: inline-block;
  margin: 0 22px 0 0;
  width: 50px;
  height: 50px;
  background-color: #6680C3;
}

.learn-box-item-text {
  margin: 0 0 0 70px;
  display: inline-block;
  max-width: 240px;
  font-weight: 400;
  font-size: 32px;
}

.learn-describe-title {
  margin: 0 0 22px 0;
  text-align: center;
  font-weight: 400;
  font-size: 64px;
}

.learn-describe-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.learn-describe-item {
  margin: 0 0 70px 0;
  max-width: 800px;
}

.learn-describe-item-title {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  text-decoration: underline;
}

.learn-describe-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
}

/* ACCOUNT Page */

.header-account-list {
  display: flex;
  align-items: center;
}

.header-account-item:not(:last-child) {
  margin: 0 25px 0 0;
}

.header-account-item-icon {
  width: 50px;
  height: 50px;
}

.header-account-item-user-icon {
  width: 80px;
  height: 80px;
}

.header-account-link {
  display: flex;
  align-items: center;
}



.account-progress-box {
  margin: 0 0 30px 0;
  padding: 10px 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 43px;
  background-color: #D9D9D9;
}

.account-progress-box-inner {
  margin: 0 15px 0 0;
  padding: 0;
  width: 100%;
  max-width: 1338px;
}

.account-progress-box-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
}

.account-progress-box-describe {
  font-weight: 400;
  font-size: 32px;
}

.account-progress-box-count {
  margin: 0 0 12px 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 1338px;
  height: 26px;
  border-radius: 36px;
  background-color: #FFFFFF;
}

.account-progress-box-count-bar {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 75%;
  height: 100%;
  border-radius: 36px;
  background-color: #6680C3;
}

.account-progress-box-img {
  border-radius: 30px;
  width: 100%;
  max-width: 237px;
  height: 100%;
}

.account-course-title {
  margin: 0 0 45px 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 64px;
}

.account-course-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.account-course-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}

.account-course-item-img {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
}

.account-course-item-title {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
}

.account-course-item-progress {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.account-course-item-progress-title {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
}

.account-course-item-progress-count {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 373px;
  height: 22px;
  border-radius: 36px;
  background-color: #D9D9D9;
}

.account-course-item-progress-count-bar {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 373px;
  height: 22px;
  border-radius: 36px;
  background-color: #6680C3;
}

.account-course-item-progress-count-bar-small {
  max-width: 9%;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  margin: 0;
  padding: 10px 45px 10px 45px;
  background-color: #D9D9D9;
}

.footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-item {
  display: flex;
}

.footer-item-link {
  margin: 0 17px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #000000;
}

.footer-item-text {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  color: #000000;
}

.footer-item-link-img {
  margin: 0 17px 0 0;
}

.footer-item-link-img-vk {
  width: 46px;
}

.footer-item-link-img-wp {
  width: 46px;
  height: 46px;
}

.footer-item-link-img-dd {
  width: 43px;
  height: 46px;
}

.footer-item-link-img-ph {
  width: 46px;
  height: 46px;
}

.footer-item-link-img-ml {
  width: 64px;
  height: 46px;
}
